
 .nav-bar {
    height: 10vh;
    display: flex;
    z-index: 9999;
    box-shadow: 15px 15px 12px #FED766;

}

.nav-bar ul {
    font-size: large;
    display: inline-flex;
    list-style: none;
    writing-mode: sideways-rl;
z-index: 9999;
}

.nav-bar ul li {
width: 200px;
margin-top: 10px;
padding: 15px;
z-index: 9999;


}
.nav-bar ul li:not(.socials) a {
    text-decoration: none;
    color:black;
z-index: 9999;
}

.nav-bar ul li:hover:not(.socials) {
background-color: rgba(0,0,0,0.1);
border-radius: 20px;
position: relative;
z-index: 9999;
}



.nav-bar .fa {
    margin-right: 8px;
    margin-left: 8px;
}

.sub-menu-1 {
display: none;

}

.nav-bar ul li:hover:not(.socials) .sub-menu-1 {
display: block;
background-color: white;
margin-top: 10px;
}

.sub-menu-1 ul li{
  width: 100%;
}

.nav-bar ul li:hover:not(.socials) .sub-menu-1 ul {
    display: block;

}

.sub-menu-1 ul:hover li:hover:not(.socials) {
background-color: rgba(0,0,0,0.1);

}

.fa-angle-right {

    float: right;
}
