

/* COLORS:

Green in order:
#27874B
#37B065
#7DD39E
#B4E6C7

Yellow/Orange:
#FFC000
#FED766
#FFECB7

Grey:
#A5A5A5
#C9C9C9
#EDEDED

 */
 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 body{
     min-height: 400px;
 }
 /*header*/
 .stories .weather{
  
     justify-content: center;
     align-items: center;
     min-height: 100vh;
 }
 .container-header{
     background-color: greenyellow;
    
 }
 .container-logo{
     display:inline-flex;
 }
 #main-heading{
    font-family: fantasy;font-size: 50px;
    color: #21df21;
    font-weight: bolder;
    display: inline;
    letter-spacing: 0.1em;
    margin: 0 10px;
    top: 30px;
    padding: 35px 0 ;
    width: 100%;

}
.logo{
    padding: 10px;
    margin:0;
    height: 15%;
    width: 15%;
    border-radius: 30%
}

q{
    font-family: 'Brush Script MT',cursive;
    color: green;
    position: relative;
    margin: 50px;
    padding: 300px;
}
#main-heading span{
    transform: rotate(-180deg) translate(150px, 0);
    animation: animate 4s forwards;
    -webkit-text-stroke: 1px #000 ;
    text-shadow: 30px 21px 8px rgba(41, 180, 41, 0.658);
    display: inline-block;
    opacity: 0;
}
/*Animation*/
#main-heading span:nth-of-type(1){
    animation-delay: .1s;
}
#main-heading span:nth-of-type(2){
    animation-delay: .2s;
}
#main-heading span:nth-of-type(3){
    animation-delay: .3s;
}
#main-heading span:nth-of-type(4){
    animation-delay: .4s;
}
#main-heading span:nth-of-type(5){
    animation-delay: .5s;
}
#main-heading span:nth-of-type(6){
    animation-delay: .6s;
}
#main-heading span:nth-of-type(7){
    animation-delay: .7s;
}
#main-heading span:nth-of-type(8){
    animation-delay: .8s;
}
#main-heading span:nth-of-type(9){
    animation-delay: .9s;
}
#main-heading span:nth-of-type(10){
    animation-delay: 1.0s;
}
#main-heading span:nth-of-type(11){
    animation-delay: 1.1s;
}
@keyframes animate{
    10%{
       opacity: 1; 
    }
    100%{
        transform: rotateX(30deg) translate(0);
        opacity: 1;
    }
}

/*headlines and content*/
.stories .container{
    display: inline-flex;
   padding: 30px 40px;
   width:100px;
   height: 100%;
   
}
.heading{
    padding:10px 10px;
    margin: 10px 10px;
    border:5px solid #000 ;
    background-color: greenyellow;
    flex-wrap: wrap;
    height: 400px;
}
.heading:hover{
    transform:translateY(-10px);
}
.heading-contact{
    margin: 15px 0;
    padding:10px 10px;
    border:5px solid #000 ;
    background-color: greenyellow;
    float:left ;
    flex-wrap: wrap;
    height: 300px;
}
.contact{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   color:#fff;
   background-color: black;
    margin: 15px 0;
    padding:5px 5px;
    border:2px solid #000 ;
    justify-content: center;
    text-align: center;
}
.happy-moment{
    position: relative;
    background-position: center;
    background-size: cover;
    width: 900px;
    height: 400px;
    margin: 10px 30px;
}
.happy-moment:hover{
    cursor: pointer;
    opacity:0.9;
}
.caption{
    margin: 0rem;
    padding: 10px;
    background-color: black;
    color: blanchedalmond;
    justify-content: center;
    text-align: center;
}
/*link to other html pages*/
.read-more:hover{
    color: red;
    text-decoration-line: none;
    cursor: pointer;
}
/*BLOG*/
.blog{
    text-align: center;
    position: relative;
    margin: 15px 15px;
    padding: 2px 0 ;
    border: 5px double black;
    height: 33px;
    width: 100%;
    background-color:greenyellow;  
    min-width: 100px;
}

/*Blog-images*/
.happy-images{
   
   position: relative;
   display: flex;
   top: 0%;
  
}
.happy{
    width: 20em;
    height: 15em;
}
.image-1,.image-2,.image-3{
    border: 5px solid steelblue;
    padding:10px 10px;
    margin:0 10px; 
}
.happy:hover{
    transform:translateY(-5px);
}
/*contact*/
.contact-bar{
    margin:10px 10px;
    display: flex;
    height: 300px;
}
.heading-contact:hover{
  background-color: turquoise;
}
.contact-form{
    position: relative; 
    width: 100%; 
   }

   .contact-form .right{
    max-width: 600px;
   }
   .contact-form .right .btn-secondary{
    background:  rgba(221, 4, 4, 0.89);
    color: #fff;
    border:0;
   }
   .contact-form .right .form-control::placeholder{
    color: rgb(129, 85, 85);
    font-size: 10px;
    margin: 5px;
   }
  .form-group{
      width: 150px;
  }